/* Three image containers (use 25% for four, and 50% for two, etc) */
  /* Clear floats after image containers */
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  .grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
  } 
  body {
    background-color: lightpink;
  } .w3-container {
    align-content: center;
  }
  img {
    width: 200px;
    height: 200px;
}
div {
    column-count: inherit;
    padding: 2em;
    margin-top: 0px;
    text-align: center;
}
#col h2 {
    display: inline;
    vertical-align: top;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} 
p {
    text-align: center;
}