<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cherry On Top</title>

    <script>
    /* Coded by Jojo Lau, ITM 352, UH Manoa Fall 2020.
    For e-Commerce Web-site Cherry On Top.
    Special thanks to Professor Dan Port for the screencast helps and examples on this assignment! All codes modified from previous labs and from screencast examples unless specified. This page is modified from Assignment 1 MVC examples and SmartPhoneProducts WODs */

    // Function to check whether a quantity is a non-negative integer
    function isNonNegInt(q, return_errors = false) {
        errors = []; // assume no errors at first
        if (Number(q) != q) errors.push('<font color="red">Not a number!</font>'); // Check if string is a number value
        if(q == '') q = 0; // for empty textboxes
        else if (q < 0) errors.push('<font color="red">Negative value!</font>'); // Check if it is non-negative
        else if (parseInt(q) != q) errors.push('<font color="red">Not an integer!</font>'); // Check that it is an integer
        return return_errors ? errors : (errors.length == 0);
    }

    // Lab example to check quantity and display errors
    function checkQuantityTextbox(theTextbox) {
        errs = isNonNegInt(theTextbox.value, true);
        if (errs.length == 0) errs = ['You want:'];
        if (theTextbox.value.trim() == '') errs = ['Quantity'];
        document.getElementById(theTextbox.name + '_label').innerHTML = errs.join(" ");
    }
    </script>

</head>

<body>
    <form name="product_selection_form" action="/process_invoice" method="POST">
        <header>
        <h1>Cherry On Top</h1>
        <h2>Shop all of our cherry accessories!</h2>
        </header>

        <nav class="navbar">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./jewelry">Jewelry</a></li>
            <li><a href="./bags">Bags</a></li>
            <li><a href="./hats">Hats</a></li>
            <li><a href="./socks">Socks</a></li>
            <nav class="topnav-right">
                <li><a href="./login">Login</a></li>
                <li><a href="./cart.html">Cart</a></li>
            </nav>
        </nav>

        <h2><center>Jewelry</center></h2>

        <div>
            <main>
                ${display_jewelry()}
            </main>
        </div>
        <p><center><input type="submit" value="Add to cart" name="purchase_submit"></center></p>
    </form>
      <font size="2"><p>Disclaimer: This is an assignment for ITM 352 - UH Manoa Fall 2020. This is not a real store. All product images/designs belong to their respective websites/owners: DazzledByJewels (Cherry Earrings), Broken English Jewelry (Cherry Ring), Double Header USA (Cherry Bracelet), Gucci (Cherry Chain Bag), Louis Vuitton (Cherry Travel Bag), Coach (Cherry Messenger Bag), AliExpress (Black Cherry Hat), Forever 21 (Pink Cherry Hat), Home Fashion DIY (Blue Cherry Hat), Socksmith (Pink Cherry Socks), Hey Viv (White Cherry Socks), WestSocks (Black Cherry Socks). Thank you!</p></font>
    <footer>
        <h1>~Stay Cherry~</h1>
    </footer>
</body>

</html>