<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link href="style.css" rel="stylesheet">

    <script>
    /* Coded by Jojo Lau, ITM 352, UH Manoa Fall 2020.
    For e-Commerce Web-site Cherry On Top.
    This page is modified from W3Schools template https://www.w3schools.com/howto/howto_css_register_form.asp */
    </script>

</head>
<body>
    <br>
    <br>
    <br>
      <nav class="navbar">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./jewelry">Jewelry</a></li>
        <li><a href="./bags">Bags</a></li>
        <li><a href="./hats">Hats</a></li>
        <li><a href="./socks">Socks</a></li>
          <nav class="topnav-right">
            <li><a href="./login">Login</a></li>
            <li><a href="./cart.html">Cart</a></li>
          </nav>
      </nav>
    
    <form name="login_form" action="/process_login" method="POST">
    <div class="container">
    <h2>Sign in to your account:</h2>
    <hr>

    <p><label for="username"><b>Username:</b></label><br>
    <input type="text" placeholder="Enter username" name="username" id="username" required></p>

    <p><label for="password"><b>Password:</b></label><br>
    <input type="password" placeholder="Enter password" name="password" id="password" required></p>
    <hr>

    <p><button type="submit">Log In</button></p>
  </div>
    <p>Don't have an account? <a href="/register"><font color="black">Register here</font></a>.</p>
</form>
</body>
</html>
