/* General */  
h1, h2 {
    text-align: center;
}
/* Typography */  
body {
    width: 800px; 
    margin: 0 auto;
    background-image: "phone_globe.jpg";
}
/* Form styling */  
img {
    width: 200px 200px;
}
/* Styling the products display */ 
main {
    display: flex;
flex-flow: row wrap;
justify-content: space-around;
}
div {
border: 5px solid black;
display: flex;
}
.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}